.name{
    display: flex;
    justify-content: center;
  margin-top: 10px;  

}
.frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;  
    height: 220px;

}
.Profile{
    display: flex;
    justify-content: center;
    border-color: rgb(15, 3, 243);
    box-sizing: border-box;
    border-radius: 10px;
    width: 80%;
    height: 120px;
    background: rgba(173, 216, 230, 0.848); 
    backdrop-filter: blur(8px); 
    z-index: 2;
}
.inProfile{
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    
}
.inProfile image{
    background-size: cover;
}