.itemNave{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    border-radius: 15px 15px 0px 0px;
    width: 220px;
    font-weight: bold;
    transform-origin: left ;
    position: relative; 
    
}
a{
    color: black;
}

.itemNaveactive-nave{
transform-origin: left ;
transition-duration: 0.2s;
font-size: var(--fontsize-a);
font-weight:bold;
display: flex;
justify-content: center;
align-items: center;
margin-left: 2%;
background-color: #CFFDFF;
border-radius: 15px 15px 0px 0px;
width: 220px;
}

nav{
padding: 10px 0px 0px 0px;
flex: var(--sidebar-flex);
align-items: center;
background:#CFFDFF ;
box-shadow:   5px 5px 20px #181414,
    0px 0px 0px ;

}
nav ul{
font-size: var(--fontsize-nav);
text-align: center;
list-style: none;
width: 250px;
}

nav ul li{
display: flex;
height: 50px;
width: 80%;
justify-content: flex-end;
align-items: center;
padding-right: 5%;
margin: 10px 0px 35px 25px;
border-radius: 15px;
border-style: solid;
border-color: transparent;
box-shadow:     6px 6px 15px #909090,
                0px 0px 0px ;
}
.active{
color: #FFFF;
display: flex;
align-items: center;
justify-content: flex-end;
padding-right: 5%;
margin: 10px 0px 35px 25px;
height: 50px;
border-style: solid;
background-color:#44CFCC;
/* background: linear-gradient(to right, rgba(255, 255, 255, 0.441), rgba(173, 216, 230, 0.848));  */
}
.active a{
    color: #FFFF;
}
nav ul li a{
display: flex;
align-items: center;
margin-left: 10px;
margin-right: 10px;
color: rgb(0, 0, 0);
font-weight: bold;
text-decoration:none ;
}
.icon{
display: flex;
justify-content: flex-start;
margin-left: 7px;
width: 30%;

}
.text{
width: 70%;
text-decoration: none;
}
.it{
display: flex;
align-items: center;
width: 160px;
height: 50px;
}