.containApp{
    position: absolute;
    top: 0%;
    border-style: solid;
    border-color: chocolate;
    background-repeat : repeat-y;
    width: 100vw;
    height:100vh;
    background: rgba(37, 37, 37, 0.013); 
    backdrop-filter: blur(8px);
    overflow-y:scroll ;
    z-index: 5;
}
.save{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background: rgba(255, 255, 255, 0.744); 
    backdrop-filter: blur(8px); 
}