.containComplaintForm{
    position: relative;
    margin-top: 20px;
    height: 115vh;
    width: 65.8vw;
    background-color: #FFFF;
    margin-bottom: 10px;
}
.headerComplaintForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}