:root{
  --sidebar-flex: 0.2;
  --condiv-flex: 7;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.1rem;
  --fontsize-a: 1.1rem;
  --typing-font: 3rem;
  
}
.body{
  font-family: 'Nunito', sans-serif;
  font-family: 'Prompt', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  text-decoration: none;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  
}
.typingeffect{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}
.me{
  display: flex;
   justify-content: center;
}
.blurAnimation{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(37, 37, 37, 0.013); 
  backdrop-filter: blur(8px);  
  z-index: 3; 
}
.blurAdmin{
  left: 0%;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.441); 
  backdrop-filter: blur(8px);  
  z-index: 3; 
}





